<template>
    <div id="app">
        <div class="form-group clearfix p-2 mb-3">
            <select class="custom-select w-25 float-left" v-model="itemsType" v-on:change="getItems">
                <option value="available" selected>Available</option>
                <option value="unavailable">Unavailable</option>
                <option value="more_than_five">With more than 5 pieces</option>
            </select>
            <router-link type="button" class="btn btn-primary float-right" :to="{name: 'add'}" tag="button">Add new</router-link>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in items">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.amount }}</td>
                <td>
                    <router-link type="button" class="btn btn-outline-success btn-sm" tag="button" :to="{name: 'edit', params: {id: item.id}}">Edit</router-link>
                    <button type="button" class="btn btn-outline-danger btn-sm" v-on:click="deleteItem(item.id)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                itemsType: 'available',
                items: []
            };
        },
        methods: {
            getItems: function() {
                axios.get('/api/items', {params: {type: this.itemsType}})
                .then(response => {
                    this.items = response.data;
                })
            },
            deleteItem: function(id) {
                axios.delete('/api/items/' + id)
                .then(response => {
                    this.getItems();
                })
                .catch(error => {});
            }
        },
        created: function() {
            this.getItems();
        },
    }
</script>
